:root {
    --bgd: #111;
    --bg: #333;
    --mg: #555;
    --fg: #ccc;
    --sidebar-width: 200px;
}

*:not(input, button, textarea) {
    font-family: sans-serif;
    color: var(--fg);
}

body {
    background: var(--bg);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--bgd);
}
#sidebar > a, b {
    display: block;
    color: var(--fg);
    text-align: center;
    margin: .6em;
    font-size: larger;
}
#main {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - var(--sidebar-width) - 2em);
    height: 100vh;
}

input, button, textarea {
    padding: .5em;
    margin: .5em;
    border: 3px solid var(--mg);
    background: var(--bgd);
    color: var(--fg);
    border-radius: 1em;
}
textarea {
    min-height: 200px;
    min-width: 400px;
}

#cards {
    display: flex;
    flex-direction: row;
}
.card {
    background: var(--mg);
    width: 12em;
    height: 8em;
    text-align: center;
    /* https://stackoverflow.com/a/44825653 */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1em;
    border-radius: 1em;
    
    box-sizing: border-box;
}
.card.r {
    border-bottom: 5px solid red;
}
.card.y {
    border-bottom: 5px solid gold;
}
.card.g {
    border-bottom: 5px solid limegreen;
}
.card > * {
    margin: .2em;
}

#chart {
    max-width: 60em;
    max-height: 45em;
}

.gray, .gray a {
    color: var(--mg);
}