<div id="sidebar">
    <b>sniff</b>
    <a href="/auth">auth</a>
    <a href="/">dashboard</a>
    <a href="/viewer">viewer</a>
    <a href="/boards">boards</a>
    <a href="/upload">upload</a>
</div>